body {
    overflow:hidden;
}

.well-title {
    font-size: 12px;
    font-weight: bold;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-top: -7px;
}

.facets .label {
    line-height: 200%;
}
.ui-slider {
    width:100px;
}
h5 {
    line-height: 12px;
}

.input-group, .btn {
    width:100%;
    margin-bottom:5px;
}

.navbar {
    margin: 0px;
}

.well a {
    color:rgb(250, 250, 250);
}
#facet-ui {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgba(0,0,0,.5);
    border:none;

}

#WorldWideTelescopeControlHost {
    height: 100%;
}

#footer {
    position:fixed;
    bottom:0;
    background-color:#EEEEEE;
    width:100%;
    border-top:1px solid #DDDDDD;
    padding-bottom: 15px;
/*    border-top:1px solid #DDDDDD;
    margin-top:20px;
    padding: 10px 0px 20px;
    margin-bottom:-20px
    */
}
#explain-note {
    font-weight: lighter
}
.active {
    font-weight: bold;
    color:#000000;
}
.hide-element {
    visibility: hidden !important;
    display: hidden;
}

#sky-location {
  position: absolute;
  padding: .2em 10px;
  background-color:rgba(255, 255, 255, .8);
}
}