body {
    overflow:hidden;
}

.well-title {
    font-size: 12px;
    font-weight: bold;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-top: -7px;
}

.tooltip-inner {
    background-color: rgb(57, 57, 57);
}

.tooltip.bottom .tooltip-arrow{
    border-bottom-color: rgb(57, 57, 57);
}

.facets .label {
    line-height: 200%;
}
.ui-slider {
    width:100px;
}

#facet-ui .input-group, #facet-ui .btn {
    width:100%;
    margin-bottom:5px;
}

#toggle-expand {
   position: relative;
    right: 10px;
    top: -15px;
    font-size: 20px;
    text-decoration: none;
}

.navbar {
    margin: 0px;
}

.well a {
    color:rgb(250, 250, 250);
}
#facet-ui {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
    background-color: rgba(0,0,0,.5);
    padding-bottom: 0px;
    border:none;

}

#WorldWideTelescopeControlHost {
    height: 100%;
}

.collapsed {
    padding-right: 0;
}

#footer {
    position:fixed;
    bottom:0;
    background-color:#EEEEEE;
    width:100%;
    border-top:1px solid #DDDDDD;
    cursor: pointer;
}

.active {
    font-weight: bold;
    color:#000000;
}

#sky-location {
  position: absolute;
  padding: .2em 10px;
  background-color:rgba(255, 255, 255, .8);
}

#footer .detail {
    display: none;
    padding-bottom: 15px;
}
